.disp-img{
    background-image:url(Test.jpg);            
    background-repeat:  no-repeat;                              
    width:auto;                                  
    height:400pX;                                 
}
