.works_item img{
    border: 7px solid #fff;
}
.works_item{
    text-align: center;
}
body {
   margin: 0;
   padding: 0;
}
header {
   background-color: #505963;
   margin: 0;
   padding: 0;
}
footer{
        background-color: #505963;
       margin: 0;
   padding: 0;
}
.txt_c{
    text-align: center;
}
