.works_item img{
    text-align: center;
    border: 7px solid #fff;
}
.works_item{
    text-align: center;
}
header {
    background-color: #505963;
}
footer{
        background-color: #505963;
}
.txt_c{
    text-align: center;
}
